.component-currency-switcher {
  justify-content: center;
  display: flex;

  .component-switcher {
    border-collapse: collapse;
  }

  .component-switcher-option {
    border: 1px solid #466088;
    padding: 2px;
    font-size: 10px;
    display: table-cell;
    color: white;
  }

  .selected {
      background: rgba(255, 255, 255, 0.45);
  }

}